[Desktop Entry]
Version=2.1
Type=Application
Name=CulturApp
Comment=Application de gestion de contenus culturels
Exec=/home/florian/CulturApp/build/exe.linux-x86_64-3.13/CulturApp
Icon=/home/florian/CulturApp/build/exe.linux-x86_64-3.13/src/assets/icon.png
Terminal=False
Categories=Utility;
